<% include partials/header %>

<!--Content-->
<div class = "container">
    <form action = "/hi" method = "POST">
        <input type = "text" name = "newtodo" placeholder = "Do Something">
        <input type = "submit" value = "submit">
    </form>
    
    <ul>
        <li>Blah blah</li>
        <li>Blah blah</li>
        <li>Blah blah</li>
        <li>Blah blah</li>
    </ul>
</div>
<% include partials/footer %>